@mixin card {
  background-color: $cinza-claro;
  min-height: 150px;
  min-width: 200px;
  flex-grow: 1;
  padding: 10px;

  max-width: 200px;
  max-height: 300px; 



}

@mixin botaoPrincipal {

width: 100%;
background-color: $cinza-escuro;
border: none; 
border-radius: 5px;
color: white;
padding: 8px;

}

@mixin inputText {

width: 100%;
box-sizing: border-box;
border-radius: 5px;
border: solid 1px $cinza-medio;
padding: 3px;


}